<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Admin Table</title>
</head>
<body><br>
    <div align="center">
        <h2 style="color: #c0c0c0;">Active Users</h2><br>
            <table width="1000";>
                <thead>
                    <tr style="border: 1px solid black;" bgcolor="#5c5c5c" align="center">
                        <th>Email</th>
                        <th>Class Number</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    {{ user_table|safe }}
                </tbody>
            </table>
    </div>

    <br>

    <div align="center">
        <h2 style="color: #c0c0c0;">Monitored Classes</h2><br>
            <table bgcolor="grey" width="1000"; border-collapse: collapse;" align="center" >
                <thead>
                    <tr style="border: 1px solid black;" bgcolor="#5c5c5c" align="center">
                        <th>Class Number</th>
                        <th>Initial Seats</th>
                        <th>Associated Emails</th>
                        <th>Term</th>
                    </tr>
                </thead>
                <tbody>
                    {{ class_table|safe }}
                </tbody>
            </table>
    </div>
    <br>
    <div align="center">
        <a style="color: rgb(150, 150, 150);" href="{{ url_for('admin_signin') }}">Logout</a>
    </div>
</body>
</html>