<!DOCTYPE html>
    <html lang="en" style="color-scheme: dark;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Open Seat Monitor</title>
    </head>
    <body>

        <nav class="navbar">
            <div class="logo">
                Open Seat Monitor
            </div>
            <ul class="nav-links">
                <li><a href="https://www.ratemyprofessors.com/" target="_blank" class="nav-item">Rate My Professor</a></li>
                <li><a href="https://catalog.apps.asu.edu/catalog/classes" target="_blank" class="nav-item">Course Search</a></li>
            </ul>
        </nav>

        <br>

        <h1 class="header" align="center">About OSM</h1>

        <p class="paragraph" align="center">
            Open Seat Monitor solves the problem of needing to continuously check the ASU class search when class registration opens and seats get filled within a matter of minutes.
            Simply enter an email that you are willing to receive notifications from and enter the class information below. Your ASU course will be monitored for open seats 
            you will be emailed when a seat is available. Monitors classes for all semesters.
        </p>

        <div class="formatform">
            <form class="form" method="post">
                <div>
                    <h3 class="submissionheader">Submit a Class</h3>
                        <input type="text" id="Class Number" name="Class Number" placeholder="Class Number">
                </div>
                
                <br>

                <div>
                        <input type="email" id="email" name="email" placeholder="example@gmail.com">
                </div>

                <br>

                <div>
                    <label class="labels" for="term">Term:</label>
                    <select class="select" name="term_select">
                        <option value="Fall 2024">Fall 2024</option>
                        <option value="Spring 2025">Spring 2025</option>
                        <option value="Summer 2025">Summer 2025</option>
                        <option value="Fall 2025">Fall 2025</option>
                        <option value="Spring 2026">Spring 2026</option>
                        <option value="Summer 2026">Summer 2026</option>
                        <option value="Fall 2026">Fall 2026</option>
                    </select>
        
                </div>

                <br>

                <div>
                    <input type="submit" name="submit">
                </div>
            </form>

            <form class="form" method="post">
                <div>
                    <h3 class="submissionheader">Remove a Class</h3>
                        <input type="text" id="Class Number" name="Class Number" placeholder="Class Number">
            
                </div>
                
                <br>

                <div>
                        <input type="email" id="email" name="email" placeholder="example@gmail.com">
                </div>

                <br>

                <div>
                    <input type="submit" name="remove" value="Remove">
                </div>
            </form>
        </div>


        <br>

    </body>

</html>