<!DOCTYPE html>
    <html lang="en" style="color-scheme: dark;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">

        <title>Open Seat Monitor</title>
    </head>
    <body>

        <nav class="navbar">
            <div class="logo">
                Open Seat Monitor
            </div>
            <ul class="nav-links">
                <li><a href="https://www.ratemyprofessors.com/" target="_blank" class="nav-item">Rate My Professor</a></li>
                <li><a href="https://catalog.apps.asu.edu/catalog/classes" target="_blank" class="nav-item">Course Search</a></li>
                <li><a href=" {{url_for('logout')}}" target="_blank" class="nav-item">Log Out</a></li>
                <li><a href=" {{url_for('delete_account', user_deleted=True)}}" target="_blank" class="nav-item">Delete Account</a></li>
            </ul>
        </nav>

        <br>

        <div class="formatform" align="center">
            <form class="form" method="POST">
          
                <div>
                    <h3 class="submissionheader">Submit a Class</h3>
                        <input type="text" id="Class Number" name="Class Number" placeholder="Class Number">
                </div>
           

                <br>

                <div>
                    <label class="labels" for="term">Term:</label>
                    <select class="select" name="term_select" style="width: 15%;">
                        <option value="Fall 2024">Fall 2024</option>
                        <option value="Spring 2025">Spring 2025</option>
                        <option value="Summer 2025">Summer 2025</option>
                        <option value="Fall 2025">Fall 2025</option>
                        <option value="Spring 2026">Spring 2026</option>
                        <option value="Summer 2026">Summer 2026</option>
                        <option value="Fall 2026">Fall 2026</option>
                    </select>
        
                </div>

                <br>

                <div>
                    <input type="submit" name="submit">
                </div>
            </form>
            
            <form class="form" method="POST">
                <div>
                    <h3 class="submissionheader">Remove a Class</h3>
                        <input type="text" id="Class Number" name="Class Number" placeholder="Class Number">
            
                </div>
                
                <br>

                <div>
                    <input id='sub' type="submit" name="remove" value="Remove">
                </div>
            </form>
        </div>

        <br>

        <div align="center">
            <h3 style="color: #c0c0c0;">Your Classes</h2>
                <table width="49%">
                    <thead>
                        <tr style="border: 1px solid black;" bgcolor="#5c5c5c" align="center">
                            <th>Class Number</th>
                            <th>Term</th>
                        </tr>
                    </thead>
                    <tbody><br>
                        <!-- Everytime a user submits a new class a new row is added to show their current classes being monitored -->
                        {% for cls in user_classes %}
                        <tr style="border: 1px solid black;" bgcolor="lightblue" align="center"></tr>
                            <td class="td"> {{ cls.classNum }}</td>
                            <td class="td"> {{ cls.term  }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>

        <br>
        <footer style="color: #c0c0c0;" align="center">
            &copy; <span id="year"></span> Zachary J.
        </footer>

        <script>
        document.getElementById("year").textContent = new Date().getFullYear();
        </script>
    </body>

</html>