<!DOCTYPE html>
<html>

<head>
      <title>OSM Registration</title>
      <link rel="stylesheet" href="/static/register.css">
</head>

<body>
      <div class="main">
            <h1 style="color: rgb(90, 57, 107); text-shadow: 6px 4px 4px">Open Seat Monitor</h1>
            <h3 style="color: lightgray;">Enter your login credentials</h3>
            <form method="POST">
                  <label for="first">
                        Email:
                  </label>
                  <input type="email" 
                         id="email" 
                         name="email" 
                         placeholder="Enter a Valid Email" required>

                  <label for="password">
                        Password:
                  </label>
                  <input type="password"
                         id="password" 
                         name="password"
                         placeholder="Enter your Password" required>

                  <div class="wrap">
                        <button type="submit"
                                onclick="solve()">
                              Submit
                        </button>
                  </div>
            </form>
            <p style="color: lightgray;">Not registered?
                  <a style="color: rgb(150, 150, 150);" href="{{ url_for('registration') }}"
                     style="text-decoration: none;">
                        Create an account
                  </a>
            </p>
      </div>
</body>

</html>