<!DOCTYPE html>
<html>

<head>
      <title>ASU Open Seat Monitor</title>
      <link rel="stylesheet" href="/static/register.css">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2680770269441635"
     crossorigin="anonymous"></script>
</head>

<body>
      <div>
            <h2 class="header" align="center" style="color: rgb(148, 109, 170); font-size: 2em; font-weight: bold;">ASU Open Seat Monitor</h1>
            <p class="paragraph" align="center">
                  Open Seat Monitor solves the problem of needing to continuously check ASU's class search when class registration opens and seats get filled within a matter of minutes.
                  Simply enter an email that you would like to recieve notifications from and add a class by submitting the class term and class number. 
                  Your monitored courses will be displayed when you register and log in and you will be emailed when a seat is available. 
                  Up to 2 courses can be monitored per user. This site is free and uses ads to keep running so clicking the ads would be much appreciated. 
            </p>
      </div>
      <div class="main">
            
            <h3 style="color: lightgray;">Enter your login credentials</h3>
            <form method="POST">
                  <label for="first">
                        Email:
                  </label>
                  <input type="email" 
                         id="email" 
                         name="email" 
                         placeholder="Enter a Valid Email" required>

                  <label for="password">
                        Password:
                  </label>
                  <input type="password"
                         id="password" 
                         name="password"
                         placeholder="Enter your Password" required>

                  <div class="wrap">
                        <button type="submit"
                                onclick="solve()">
                              Submit
                        </button>
                  </div>
            </form>
            <p style="color: lightgray;">Not registered?
                  <a style="color: rgb(150, 150, 150);" href="{{ url_for('registration') }}"
                     style="text-decoration: none;">
                        Create an account
                  </a>
            </p>
      </div>
</body>

</html>