<!DOCTYPE html>
<html>

<head>
      <title>ASU Open Seat Monitor</title>
      <link rel="stylesheet" type="text/css" href="static/register.css">

      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2680770269441635"
     crossorigin="anonymous"></script>
     
</head>

<body>
      <div>
            <h2 style="color: rgb(148, 109, 170); font-size: 2em; font-weight: bold; text-align: center;">ASU Open Seat Monitor</h1>
            <p class="paragraph">
                  Open Seat Monitor solves the problem of needing to continuously check ASU's class search when class registration opens and seats get filled within a matter of minutes.
                  Submit a valid email that you are willing to recieve notifications from and you can add a class to be monitored by submitting the class term and class number. 
                  Your monitored courses will be displayed when you sign in and you will be emailed when a seat is available. 
                  Up to 2 courses can be monitored per user. 
            </p>
      </div><br>
      <div class="main">
            
            <h3 style="color: lightgray;">Enter your login credentials</h3>
            <form method="POST">
                  <label for="first">
                        Email:
                  </label>
                  <input type="email" 
                         id="email" 
                         name="email" 
                         placeholder="Enter a Valid Email" required>

                  <label for="password">
                        Password:
                  </label>
                  <input type="password"
                         id="password" 
                         name="password"
                         placeholder="Enter your Password" required>

                  <div class="wrap">
                        <button type="submit"
                                onclick="solve()">
                              Submit
                        </button>
                  </div>
                  {% if user_authenticated == False %}
                  <p style="color: rgb(207, 81, 81);">
                        Email or Password is Incorrect
                  </p>
                  {% endif %}
            </form>

            <a style="color: rgb(150, 150, 150);" href="{{ url_for('forgot_password') }}"
                  style="text-decoration: none;">
                  Forgot Password
            </a>

            <p style="color: lightgray;">Not registered?
                  <a style="color: rgb(150, 150, 150);" href="{{ url_for('registration') }}"
                     style="text-decoration: none;">
                        Create an account
                  </a>
            </p>
      </div>

</body>

</html>
