<!DOCTYPE html>
<html>

<head>
      <title>OSM Registration</title>
      <link rel="stylesheet" href="/static/register.css">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2680770269441635"
     crossorigin="anonymous"></script>
</head>

<body>
      <div class="main">
            <h1 style="color: rgb(148, 109, 170);">Open Seat Monitor</h1>
            <h3 style="color: lightgray;">Enter your Registration credentials</h3>
            <form method="POST">
                  <label for="first">
                        Email:
                  </label>
                  <input type="email" id="email" name="email" placeholder="Enter a Valid Email" required>

                  <label for="password">
                        Password:
                  </label>
                  <input type="password" id="password" name="password" placeholder="Enter your Password" required>

                  <div id=divsubmitbutton class="wrap">
                        <!-- onclick="solve()" -->
                        <button id="submitbutton" type="submit">
                              Submit
                        </button>
                  </div>

                  {% if user_exists == True %}
                  <p style="color: lightgray;">
                        You Have an Account.
                        <a style="color: rgb(150, 150, 150);"href="{{ url_for('login_user') }}">Login</a>
                  </p>
                  {% endif %}

            </form>
      </div>
</body>

</html>